root = true

[*]
insert_final_newline                                = true
end_of_line                                         = lf
charset                                             = utf-8
max_line_length                                     = 150
tab_width                                           = 3
indent_style                                        = tab
indent_size                                         = tab
ij_any_enum_constants_wrap                          = on_every_item
ij_any_align_multiline_chained_methods              = true
ij_any_align_multiline_assignment                   = true
ij_any_align_multiline_array_initializer_expression = true
ij_any_align_multiline_ternary_operation            = true
ij_any_align_consecutive_variable_declarations      = true
ij_any_align_multiline_parameters_in_calls          = true
ij_any_align_multiline_parameters                   = true
ij_formatter_tags_enabled                           = true

[*.kt?]
ij_kotlin_align_in_columns_case_branch              = true
ij_kotlin_name_count_to_use_star_import             = 50
ij_kotlin_name_count_to_use_star_import_for_members = 50
ij_kotlin_import_nested_classes                     = true

[*.yml]
indent_style = space
tab_width    = 2

[.editorconfig]
ij_editorconfig_align_group_field_declarations     = true
ij_editorconfig_spaces_around_assignment_operators = true
