root = true

[*]
insert_final_newline                                = true
end_of_line                                         = lf
charset                                             = utf-8
max_line_length                                     = 150
tab_width                                           = 3
indent_style                                        = tab
indent_size                                         = tab
ij_smart_tabs                                       = true
trim_trailing_whitespace                            = false
ij_any_keep_indents_on_empty_lines                  = false
ij_any_enum_constants_wrap                          = on_every_item
ij_any_align_multiline_chained_methods              = true
ij_any_align_multiline_assignment                   = true
ij_any_align_multiline_array_initializer_expression = true
ij_any_align_multiline_ternary_operation            = true
ij_any_align_consecutive_variable_declarations      = true
ij_any_align_multiline_parameters_in_calls          = true
ij_any_align_multiline_parameters                   = true
ij_formatter_tags_enabled                           = true
ij_formatter_off_tag                                = @formatter:off
ij_formatter_on_tag                                 = @formatter:on
ij_visual_guides                                    = 120

[*.kt?]
ij_kotlin_code_style_defaults                       = KOTLIN_OFFICIAL
ij_kotlin_align_in_columns_case_branch              = true
ij_kotlin_name_count_to_use_star_import             = 50
ij_kotlin_name_count_to_use_star_import_for_members = 50
ij_kotlin_packages_to_use_import_on_demand          = unset
ij_kotlin_import_nested_classes                     = true
ij_kotlin_spaces_around_when_arrow                  = true
ij_kotlin_align_multiline_binary_operation          = true
ij_kotlin_align_multiline_parameters                = true
ij_kotlin_align_multiline_parameters_in_calls       = true
ij_kotlin_call_parameters_wrap                      = normal
ij_kotlin_enum_constants_wrap                       = on_every_item
ij_kotlin_class_annotation_wrap                     = on_every_item
ij_kotlin_field_annotation_wrap                     = on_every_item
ij_kotlin_keep_blank_lines_in_code                  = 1
ij_kotlin_keep_blank_lines_in_declarations          = 1
ij_kotlin_keep_indents_on_empty_lines               = false
ij_kotlin_line_comment_add_space                    = true

[.editorconfig]
ij_editorconfig_align_group_field_declarations     = true
ij_editorconfig_spaces_around_assignment_operators = true

[.idea/*.xml]
tab_width                   = 2
indent_style                = space
ij_xml_space_after_tag_name = true


[*.yml]
tab_width    = 2
indent_style = space
